<%- include('partials/header.ejs') %>
    <center><img src="images/profile.jpeg" alt="Sakshi Shingala" id="profimg"></center>
    <br>
    <br>
    <center><h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: lightgoldenrodyellow;">Sakshi Shingala</h2></center>
    <center><h3 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: lightgoldenrodyellow;">CEO, <b>Aastha Limited</b> | Data Analytics | Entrepreneur </h3></center>
    <center><h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: lightgoldenrodyellow;"><a<a href="Sakshi CV.pdf">Resume</a> >Resume</h2></center>

    <p class="stmt">
        Sakshi Shingala is a versatile and accomplished professional renowned for her roles as the CEO of Aastha Enterprises, a Senior Data Analyst at Amazon, and as a proactive investor in tech startups with promising potential. 
        With a strong educational foundation, Sakshi earned her degree in Software Engineering from Centennial centennial college, a pivotal starting point for her illustrious career in the technology sphere.
        <br>
        <br>
        As the CEO of Aastha Enterprises, Sakshi Shingala has exhibited exceptional leadership and forward-thinking strategies, propelling her diverse business portfolio to success. Her ventures span across various sectors, demonstrating her adaptability and entrepreneurial prowess.
        <br>
        <br>
        Sakshi's position as a Senior Data Analyst at Amazon underscores her expertise in the realm of data analytics, a vital discipline essential for harnessing data-driven insights to enhance products and services.
        <br>
        <br>
        Beyond her corporate engagements, Sakshi has carved a niche as an astute entrepreneur with a penchant for identifying promising startups. Her investments in tech startups signify her unwavering commitment to nurturing innovation and supporting emerging talent within the tech landscape.
        <br>
        <br>
        With her potent blend of academic excellence, corporate expertise, and entrepreneurial spirit, Sakshi Shingala stands as a dynamic luminary in the technology industry. She leaves an indelible mark on established enterprises and propels budding startups towards excellence, serving as an inspiration to aspiring professionals and entrepreneurs in the field of technology and data science.
    </p>
<%- include('partials/footer.ejs') %>