<%- include('partials/header.ejs') %>
<form action="mailto:sshinga4@my.centennialcollege.ca" method="post" enctype="text/plain">
    <h1 class="ctform">Contact Us</h1>
    <br>
    <label for="first-name">First Name</label>
    <input type="text" id="first-name" name="first-name" required>

    <label for="last-name">Last Name</label>
    <input type="text" id="last-name" name="last-name" required>

    <label for="phone">Phone</label>
    <input type="text" id="phone" name="phone" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>

    <label for="message">Message</label>
    <textarea id="message" name="message"></textarea>

    <input type="submit" value="Submit">
</form>
<br>
<fieldset id="social">
    <a href="https://www.linkedin.com/in/sakshi-shingala-57b4b6217/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" class="logos">
    </a>
    <a href="https://www.instagram.com/sakshishingala_/?next=%2F&hl=en" target="_blank">
        <img src="https://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c521.png" alt="Instagram" class="logos">
    </a>
    <a href="mailto:sakshishingala05@gmail.com" target="_blank">
        <img src="https://www.freepnglogos.com/uploads/gmail-email-logo-png-16.png" alt="Mail" class="logos">
    </a>
</fieldset>
<%- include('partials/footer.ejs') %>