<%- include('partials/header.ejs') %>
    <h1 class="welcomemsg">Welcome to Sakshi Shingala's Portfolio</h1>
    <hr style="border-style:solid; border-color:#bb67ad; border-width:2px;" />
    <br>
    <div id='mission-stmt'>
        <h1 class="welcomemsg">Mission Statement</h1>
        <br>
        <p class="stmt">Our mission is to inspire and empower individuals to reach their full potential.
             We strive to provide innovative solutions that address the unique needs of our customers, fostering growth and progress. 
            With a commitment to excellence, we aim to make a meaningful impact in the lives we touch.
            <br>
            <br>
            At our core, we believe in the strength of community and collaboration. 
            We aspire to create a world where people come together, share knowledge, and support one another. 
            Through our mission, we hope to build a brighter future for all, driven by inclusivity, sustainability, and a shared sense of purpose.
            <br>
            <br>
            Join us in our mission to make a difference. 
            We are a diverse and passionate team dedicated to innovation and positive impact. 
            Together, we can create meaningful change and shape a brighter future. 
            Explore opportunities with us and be part of something extraordinary. 
            Your talents and ideas are what we need to thrive.
            <br>
            <br>
            I welcome you to explore my portfolio.
        </p>
    </div>
    <div id="button">
        <a href="/about" style="text-decoration: none; color: #bb67ad;">
            get to know Sakshi Shingala
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
<%- include('partials/footer.ejs') %>