<%- include('partials/header.ejs') %>
<section class="projects">
    <h2>Projects</h2>
    
    <!-- Project 1 -->
    <div class="project">
        <h3>E-commerce Website</h3>
        <p>Developed a e-commerce platform with features like product catalog, user authentication, shopping cart, and payment processing. Implemented secure payment gateways and integrated inventory management systems to facilitate online retail. </div>

    <!-- Project 2 -->
    <div class="project">
        <h3>Mobile App for Task Management</h3>
        <p>Designed and built a mobile application for task management and productivity. The app allows users to create, organize, and prioritize tasks, set reminders, and track progress. It supports both Android and iOS platforms.</div>

    <!-- Project 3 -->
    <div class="project">
        <h3>Data Analytics Dashboard</h3>
        <p>Created a data analytics dashboard for a business client, consolidating data from various sources and providing real-time insights. Implemented data visualization tools and customized reporting to help the client make informed decisions.</p>
    </div>

    <!-- Project 4 -->
    <div class="project">
        <h3>Healthcare Information System</h3>
        <p>Developed a comprehensive healthcare information system for a hospital, including patient registration, electronic health records (EHR), appointment scheduling, and billing modules. Ensured compliance with healthcare data privacy regulations (HIPAA)</p>
    </div>
</section>
<%- include('partials/footer.ejs') %>