<%- include('partials/header.ejs') %>
<section class="services">
    <h2>Services</h2>
    <div class="service">
        <h3>Web Development Services</h3>
        <p>Offer web development expertise to design and build websites, web applications, and e-commerce platforms using technologies like HTML, CSS, JavaScript, and various web frameworks.</p>
    </div>
    <div class="service">
        <h3>Training and Workshops</h3>
        <p>Conduct training sessions and workshops to educate clients and their teams on software development best practices, tools, and technologies.</p>
    </div>
    <div class="service">
        <h3>UI/UX Design</h3>
        <p>Provide user interface (UI) and user experience (UX) design services to ensure visually appealing, user-friendly, and intuitive software interfaces.</p>
    </div>
</section>
<%- include('partials/footer.ejs') %>